@tailwind base;
@tailwind components;
@tailwind utilities;


img {
    pointer-events: none
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #46cd4d99;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3bb14199;
}