.fade-in-card {
    animation-name: fade-in-card;
    animation-duration: 1.5s;
}

@keyframes fade-in-card {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}